.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secundary);
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 90%;
  margin: 10px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin:  auto;
}

.card-data,
.single-card {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  color: var(--bg-dark);
  border-radius: 10px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  font-size: .8rem;
  text-decoration: none;
  cursor: pointer;
}

.single-card {
  width: 100%;
  margin-left: 0;
  margin-top: 20px;
}

.icon {
  margin-top: 25%;
  width: 40px;
  display: block;
  margin: 20px auto 0;
}

@media (min-width: 820px) {
  .container {
    flex-direction: row;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    width: calc(100% - 25vh - 10px);
  }

  .single-card {
    width: 25vh;
    margin-top: 0;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-data,
  .single-card {
    padding: 20px;
    font-size: 1rem;
  }

  .icon {
    width: 70px;
  }
}
