.diary-title {
  color: #594f4f;
  font-size: 20px;
  
}

.align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diary-container {
  max-width: 1200px;
  margin: auto;
  padding: 25px;
  margin-top: 20px;
 
}

.content-container {
  padding: 20px;
  color: #594f4f;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ffff;
  min-height: 250px;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #c7e9cf;
  border-top: 15px solid #594f4f;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.diary-patient {
  background-color: #c7e9cf;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.card-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.card-profile > img {
  width: 35px;
}

.date-info {
  margin-top: 20px;
  font-weight: bold;
}

.date-text {
  margin-top: 25px;
  font-weight: bold;
}

.view-button {
  background: linear-gradient(145deg, var(--bg-dark), var(--bg-dark-darker));
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 5%;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 12px;
  text-decoration: none;
}

.view-button:hover {
  background: linear-gradient(145deg, var(--bg-dark-darker), var(--bg-dark));
}

.modal-title {
  width: 100%;
  text-align: center;
}

.modal-title > span {
  font-size: 1rem;
  color: var(--bg-dark);
}

.modal-text {
  text-align: center;
  width: 100%;
  color: var(--bg-dark);
  font-family: sans-serif;
}

.modal-date {
  text-align: end;
}

.modal-date > span {
  color: var(--bg-dark);
  font-size: 0.6rem;
  font-family: sans-serif;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 600px;
  
}

.page {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.items > label {
  color: var(--bg-dark);
  margin-right: 10px;
}

.items > select {
  border: 1px solid rgb(193, 191, 191);
  color: var(--bg-dark);
  border-radius: 5px;
  padding: 2px;
  width: 50px;
}

.items > select > option {
  border: none;
  color: var(--bg-dark);
}

.container-button {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.graphic-container {
  height: 50vh;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .view-button {
    margin-top: 5%;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal-content {
    max-width: 300px;
    max-height: 500px;
  }
}



