<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- metatags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- folha css -->
    <link rel="stylesheet" href="../css/perfil.css" />
    <!-- título -->
    <title>Tela de Perfil</title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- container 1 -->
    <div class="container">
      <!-- left container -->
      <div class="left-container">
        <div class="logo">
          <img src="../img/helpsi_logo_1.png" alt="Logo da Empresa" />
        </div>
        <!-- titulo do login -->
        <div class="welcome-text">
          <h2>Seja bem vindo!</h2>
          <p>Você está acessando sua conta como:</p>
        </div>
        <!-- inicio do formulário -->
        <div class="login-form">
          <a href="#" class="login-button">Sou um Cliente</a>
          <a href="#" class="login-button">Sou um Psicólogo</a>
        </div>
        
      </div>

      <div class="main-container"></div>
    </div>
  </body>
</html>
