
.card {
    border-radius: 15px;
    background: #C7E9CF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-right: 10px;
    width: 18vw;
    height: 14rem;
    text-align: center;
}

.icones {
  padding-top: 20px;
}

p {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background-color: #594F4F;
}

h1 {
  color: #594F4F;
  text-align: center;
  font-family: Urbanist;
  font-size: 30px;
  font-style: normal;
  line-height: 50px; /* 166.667% */
  letter-spacing: -0.6px;
}

.corpo {
    max-width: 2500px;
    width: 80vw;
    height: 87vh;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    overflow: auto; /* Adicione overflow para adicionar uma barra de rolagem */
  }

  .center-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; /* Centralize os cards horizontalmente dentro do container1 */
    gap: 0px; /* Adicione um espaçamento de 10px entre os cards */
    padding-top: 100px;
    padding-left: 50px;
  }

.container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas com larguras iguais */
  padding-top: 100px;
  padding-left: 100px;
}

.container2 {
    align-items: flex-start; /* Alinhe os containers no topo */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 3 colunas com larguras iguais */
    grid-gap: 20px; /* Espaçamento entre os elementos dentro de container2 */
    justify-self: center; /* Centralize container2 horizontalmente dentro de .corpo */
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}


.card4 {
  justify-self: end;
}
