.card {
  border-radius: 15px;
  background: #c7e9cf;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-right: 10px;
  width: 100%;
  height: 5rem;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-top: 15px solid var(--bg-dark);
  text-decoration: none;
}

.icones {
  padding-top: 10px;
  height: 60%;
}

.p {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background-color: var(--bg-dark);
  margin-bottom: 10px;
}

.link {
  color: var(--bg-dark);
  text-align: center;
  font-size: 55%;
  line-height: 1;
  height: auto;
  margin-top: 5px;
  display: block;
}

.corpo {
  max-width: 100%;
  width: 80vw;
  height: 87vh;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffff;
  overflow: auto;
}

.center-container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 10px;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 100px;
}

.container2 {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-self: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.card4 {
  justify-self: end;
}

@media (min-width: 769px) {
  .card {
    height: 14rem;
    max-width: 300px;
  }

  .icones {
    padding-top: 10px;
    height: auto;
  }

  .link {
    font-size: 16px;
    line-height: 20px;
  }

  .center-container1 {
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container1 {
    grid-template-columns: repeat(3, 1fr);
  }

  .container2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
