* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

:root {
  --bg-primary: #9fdfae;
  --bg-secundary: #9fdfae83;
  --bg-body: #ecf0f1;
  --bg-dark: #594f4f;
  --bg-hover-button: #433f3f;
  --bg-hover-primary: #7daf91;
}
