* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

:root {
  --bg-primary: #9de0ad;
  --bg-dark: #594f4f;
  --bg-hover-button: #433f3f;
  --bg-hover-primary: #7DAF91;
  
}
