/* Estilização de tela - Login */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/* container 1 */
.container {
  display: grid;
  grid-template-columns: 400px 1fr; /* 400px para o container esquerdo, 1fr para o container principal */
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: url("../img/bg_natureza.png");
  background-size: cover;
}

/* container 2 - esquerdo */
.left-container {
  width: 400px;
  padding: 20px;
  background-color: #9de0ad;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* logo helpsi */

.logo {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: flex-start; /* Alinha no canto superior */
  margin-top: -32px;
}

.logo img {
  max-width: 90%; /* A imagem terá no máximo a largura do seu container */
  height: auto; /* A altura se ajustará automaticamente para manter a proporção */
}

/* titulo do login */
.welcome-text h2 {
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 2.4rem;
  margin-bottom: 24.3px;
  color: #594f4f;
}

.main-container {
  padding: 20px;
  background-color: #9de0ad;
  background-image: url("../img/bg_natureza.png");
  background-size: cover;
  background-position: center center;
}

.login-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: #594f4f;
  color: #ffffff;
  border: none;
  padding: 10px 43%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #45ada8;
}

.login-options {
  margin-top: -19px;
  text-align: center;
  color: #594f4f;
}

.login-options a {
  color: #594f4f;
  text-decoration: none;
}

.login-options p {
  margin-top: 70px;
  color: #666;
}


/* Estilos para resoluções acima de 768px */
@media (min-width: 769px) {
  .container {
    grid-template-columns: 400px 1fr;
  }

  .left-container {
    width: 400px;
    padding: 20px;
  }

  .main-container {
    padding: 20px;
    background-image: url("../img/bg_natureza.png");
    background-size: cover;
    background-position: center center;
  }
}

/* Estilos para resoluções até 768px (mobile) */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .left-container {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .logo img {
    max-width: 9rem; /* Reduzir o tamanho da imagem em telas menores */
  }

  .login-form input {
    width: 100%;
  }

  .main-container {
    padding: 20px;
    display: none;
  }

  .welcome-text h2 {
    font-size: 14px;
    margin-top: 10px;
  }

  .password-reset {
    position: relative;
    top: -4px;
    font-size: 12px;
    text-align: right; /* Alinhar à direita em telas maiores */ /* Alinhar à esquerda em telas menores */
  }
}
